<div class=" md:pt-[70px] pt-[40px] max-w-5xl mx-auto justify-center items-center">
  <h3 class="text-center text-[18px] font-bold">Contact Me</h3>
  <div
    class="grid grid-cols-1 md:grid-cols-2 container mx-auto pt-[16px] gap-[24px] "
  >
    <div class="my-address items-center">
      <h4 class="text-[18px]">Lagos, Nigeria</h4>
      <div class="space-y-[8px] text-[18px]">
        <p>{{location.address}}</p>
        <p>{{location.email}}</p>
        <p>{{location.phone}}</p>
      </div>
    </div>

    <form #f="ngForm" (ngSubmit)="submit(f)">
      <!--name-->
      <div class="field pt-[16px] container mx-auto">
        <label for="name">Name</label><br />
        <input
          class="border-2 p-[8px] container mx-auto"
          type="text"
          ngModel
          name="name"
          #name="ngModel"
          required
          id="name"
          placeholder="Enter your name"
          (change)="log(name)"
        />
        <div class="text-red" *ngIf="name.touched && !name.valid">First name is required</div>
        <br /><br />
      <!--email-->
        <label for="email">Email</label><br />
        <input
          ngModel
          class="border-2 p-[8px] container mx-auto"
          type="text"
          required
          id="email"
          name="email"
          #email="ngModel"
          placeholder="Enter your email"
          (change)="log(email)"
        />
        <div *ngIf="email.touched && !email.valid">Email is required</div>
        <br /><br />

        <!--message-->
        <textarea
          ngModel
          class="border-2 p-[8px] container mx-auto"
          name="message"
          required
          type="textarea"
          placeholder="Type your message"
          #textarea="ngModel"
        ></textarea>
        <div *ngIf="textarea.touched && !textarea.valid">Your message cannot be empty</div>
        <br /><br />

        <!--submit button-->
        <button
          class="button bg-purple-900 text-white p-[8px] container mx-auto"
          type="submit"
        >
          Send!
        </button>
      </div>
    </form>
  </div>
</div>
