<div class="bg-[#efecf1]">
    <div class="px-[16px]">
      <div class="container max-w-6xl mx-auto m-[24px] md:mb-[40px] py-[24px] md:py-[40px] space-y-[8px]">
  
        <h3 class="font-bold md:text-center">My Services</h3>
  
        <div class="md:flex md:justify-between items-center md:space-x-[16px] space-y-[16px]">
          <div class="space-y-[8px] bg-white p-[10px]">
            <h5 class="font-bold">Web Development</h5>
            <p>Constructing the layout of a website by creating visually interesting pages 
              and user-friendly design by the use of algorithm and logics to build technical front-end codes that informs a website function.</p>
          </div>
    
          <div class="space-y-[8px] bg-white p-[10px]">
            <h5 class="font-bold">Product Design</h5>
            <p>Combining the best visual design best practices that include typography, brand system, design system, IA, wireframing 
              and prototyping into a brand new digital product with accessibility and intuitive for a great user experience </p>
          </div>
        </div>
  
  
      </div>
    </div>
  </div>
  
  
