<div>
    <div >
        <div class="grid grid-cols-1 md:grid-cols-2 md:space-x-[24px] space-y-[24px] justify-center items-start">
          
            <div class="bg-purple-50 space-y-[16px] md:space-y-[24px] px-[16px] py-[16px]">                
                <div class="flex space-x-[16px] items-center">
                    <em class="fa fa-graduation-cap"></em>
                    <h4 class="font-bold md:text-[24px]">Education</h4> 
                </div>

                <div class="space-y-[16px] md:space-y-[24px]">
                    <div class="space-y-[8px]">
                        <div class="flex space-x-[8px] items-center">
                            <em class="fa fa-circle-o"></em>
                            <h5 class="underline">Specialization</h5>
                        </div>
                        <div>                        
                            <ol class="text-[14px] space-y-[16px]"> 
                                <li class="md:flex items-center md:space-x-[16px]">
                                Stutern:<span class="course-1 ml-[8px]">UX/UI Design</span>
                                <p>September 2021 - February 2022</p>
                                </li>
                                <li class="md:flex items-center md:space-x-[16px]">
                                Coursera:<span class="course-2 ml-[8px]">Visual Elements of User Interface Design</span>
                                <p>August 2021 - September 2021</p>
                                </li>
                                <li class="md:flex items-center md:space-x-[16px]">
                                SideHustle:<span class="course-3 ml-[8px]">UX/UI Design</span>
                                <p>May 2021 - June 2021</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <hr class="bg-white">
                    <div class="space-y-[8px]">
                        <div class="flex space-x-[16px] items-center">
                            <em class="fa fa-circle-o"></em>
                            <h5 class="underline">Academics</h5>
                        </div>
                        <div>
                            <ol class="text-[14px] space-y-[16px]">
                                <li >
                                    Lagos Sate University, Ojo, Lagos:
                                    <span class="school-1 font-bold">B.S Computer Science</span>
                                  
                                </li>
                                <li >
                                    Command Day Secondary School, NAFRC-Oshodi, Lagos:
                                    <span class="school-2 ml-[8px] font-bold">SSLC</span> 
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <hr class="bg-white">

                <div class=" space-y-[16px] md:space-y-[24px]">
                    <div class="flex space-x-[16px] items-center">
                        <em class="fa fa-graduation-cap"></em>
                        <h4 class="font-bold md:text-[24px]">Other Certifications</h4> 
                    </div> 
    
                    <div>
                        <ol class="text-[14px] md:space-y-[16px] space-y-[8px]">
                            <li>Google Ads & Video<span class="school-1 font-bold ml-[8px]">Google</span>   
                            </li>
                            <li>Mobile App Development (using Flutter)<span class="school-2 ml-[8px] font-bold">Zuri Internship</span>     
                            </li>
                            <li>Web UI/UX Development Including (HTML, CSS & WordPress)<span class="school-2 ml-[8px] font-bold">CodeLagos</span>          
                            </li>
                        </ol>    
                    </div>
                </div>
            </div>

            <div class="bg-purple-50 space-y-[16px] md:space-y-[24px] px-[16px] py-[16px]">
                <div class="flex space-x-[16px] items-center">  	
                    <em class="fa fa-life-ring"></em>
                    <h4 class="font-bold md:text-[24px]">Work & Experience</h4>
                </div>

                <div class="space-y-[16px] md:space-y-[24px]">
                    <div class="space-y-[8px]">
                        <div class="flex space-x-[16px] items-center">
                            <em class="fa fa-circle-o"></em>
                            <h5 class="underline">Work History</h5>
                        </div>
                        
                        <div class="text-[14px] space-y-[16px]"> 
                            <div class="space-y-[8px]">
                                <div class="flex space-x-[16px] justify-between">
                                    <p>Employer: <span class="font-bold">Phareztech</span></p>
                                    <p>January 2022 - Date</p>
                                </div>
                                <p>Address: <span class="font-bold">4, Ogunbadejo street, Bariga, Lagos</span></p>
                                <p>Position: <span class="font-bold ">Web Developer</span></p>
                                <div>
                                    <h6>Job Description:</h6>
                                    <p>Write reusable codes for Redeemed Christian Church of God, Masha-Surulere website
                                        Create new modules for Redeemed Christian Church of God, Masha-Surulere website
                                        Write reusable codes for Messaging Fintech Services Application
                                        Create new modules for Messaging Fintech Services Application
                                        Work with UI/UX team to handle new projects
                                        Consume API endpoints for app usability & functionality
                                    </p>                                        
                                </div>
                            </div>

                            <hr class="bg-white">

                            <div class="space-y-[8px] ">
                                <div class="flex space-x-[16px] justify-between">
                                    <p>Employer: <span class="font-bold">Create Solutions</span></p>
                                    <p>May 2021 - June 2021</p>
                                </div>
                                <p>Address: <span class="font-bold">12, Remi Sofoluwe street, Magodo Phase 2, Lagos</span></p>
                                <p>Position: <span class="font-bold ">Front-end Developer</span></p>
                                <div>
                                    <h6>Job Description:</h6>
                                    

                                    Determine the structure and design of web pages
                                    Developing features to enhance the user experience and accessibility
                                    Striking a balance between functional and aesthetics from designs
                                    Ensuring web design is optimized for smartphones
                                    Maintaining brand consistency throughout the design
                                </div>
                            </div>

                            <hr class="bg-white">

                            <div class="space-y-[8px] ">
                                <div class="flex space-x-[16px] justify-between">
                                    <p>Employer: <span class="font-bold">Lepsta</span></p>
                                    <p>June 2018 - December 2019</p> 
                                </div>
                                <p>Address: <span class="font-bold">1 Bellingham St, Highveld, Centurion, 0157, South Africa</span></p>
                                <p>Position: <span class="font-bold ">Regional Manager East & West Africa</span></p>
                                <div>
                                    <p>Job Description:</p>
                                    Find sponsors for EngineOne activities in West & Eastern Africa.
                                    Identify opportunities to expand the community through partnerships and entering new cities
                                    Analyze the market to gain insights into how to improve performance and maximize growth of the community
                                    Represent the region (West & Eastern Africa) in tech events 
                                    Define the community target state, work plan and work streams focusing on impact together with the global champion and team.
                                    Support local groups in implementation, track progress and communicate to the global admin team (Guidione and Kabelo)
                                    Identify performance gaps and initiate and roll-out improvement projects.

                                </div>
                            </div>

                            <hr class="bg-white">
                            <div class="space-y-[8px] ">
                                <div class="flex space-x-[16px] justify-between">
                                    <p>Employer: <span class="font-bold">Techville Nigeria</span></p>
                                    <p>October 2017 - Date</p>
                                </div>
                                <p>Address: <span class="font-bold">48, Lagos Road, Ikorodu, Lagos</span></p>
                                <p>Position: <span class="font-bold ">Web Designer & User Experience Engineer</span></p>
                                <div>
                                    <p>Job Description:</p>

                                    Create Figma files for visual layout of iOS, Android and web pages
                                    Graphics design, UI and UX development into customer specifications
                                    Come up with simple logo designs where necessary
                                    Implement and maintain high-quality SEO policies and incorporate them with content produced for the website
                                    Implement and maintain high-quality SEO policies and incorporate them with content produced for the website
                                    Work with UX developers in creating mock-ups for proposed project pages and update them as needed.
                                    Interpret and convert UI designs into websites using Wordpress CMS, html and JavaScript.
        
                                </div>

                            </div>
                        </div>
                    </div>

                    <hr class="bg-white">

                    <div class="space-y-[8px]">
                        <div class="flex space-x-[8px] items-center">
                            <em class="fa fa-circle-o"></em>
                            <h5 class="underline">Proficiencies</h5>
                        </div>
                        <P>AngularCLI UI Design & Development, Bootstrap, Tailwinds, Typescript, JavaScript, CSS, HTML WordPress, Figma, NodeJS </P>
                    </div>

                    <hr class="bg-white">

                    <div class="space-y-[8px]">
                        <div class="flex space-x-[8px] items-center">
                            <em class="fa fa-circle-o"></em>
                            <h5 class="underline">Interests</h5>
                        </div>
                        <P>Entertainment & Arts, traveling, music.</P>
                    </div>
                </div> 
            </div>
        </div>
    <div>
<div>
