<main class="">
    <div class="max-w-5xl mx-auto py-20 px-5 bg-black">
      <div class="ml-40">
        <div class="text-center">
          <h1 class="text-purple-300 mr-20">Hello there! My name is Amarachi, a multidisciplinary and talented Nigerian <br>based in Lagos. I specialize in UI/UX digital designs and front-end development. <br>I'm passionate about helping you turn your dreams and ideas into reality; <br>using quality images to tell beautiful stories.</h1>
        </div>
        <div class="container max-w-fit rounded-xl ml-40 bg-purple-400 mt-4">
          <div class="flex py-1 px-2">
            <a class="mr-5 text-purple-300 py-2 px-2">Type your message here</a>
            <a href="#" class="btn bg-purple-900 rounded-xl py-2 px-4 text-white hover:bg-purple-500">Request quotation</a>
          </div>
        </div>
      </div>
    </div>
  </main><!--manin ends here-->
  
  <section>
    <div class="max-w-5xl mx-auto py-20 px-5 bg-black">
      <div class="text-purple-300">
        <div class="">
          <h3 class="">Companies I've Worked For</h3>
        </div>
        <div>
          <img src="" alt="">
          <img src="" alt="">
          <img src="" alt="">
          <img src="" alt="">
          <img src="" alt="">
        </div>
      </div>  
    </div>
  </section>
  
  <section>
    <div class="max-w-5xl mx-auto py-10 px-5 bg-black">
      <div class="text-purple-300 py-20">
        <div class="">
          <h3 class="">Hire Me For</h3>
        </div>
        <ul>
          <li class="">Visual & User experience design</li>
          <li>Interaction design</li>
          <li>Mentorship</li>
          <li>Collaboration</li>
        </ul>
      </div>
    </div>
   
  </section>
  
  <section>
    <div class="max-w-5xl mx-auto py-20 px-5 bg-black">
      <div class="text-purple-300">
        <div>
          <h3>My work</h3>
        </div>
        <div>
          <img src="" alt="">
          <img src="" alt="">
        </div>
      </div>
    </div>
  </section>
  
  
  
