<div class="container mx-auto md:max-w-3xl space-y-[16px] md:space-y-[24px] md:justify-center items-center pt-[130px] md:pt-[150px]">
  <div class="space-y-[8px] md:space-y-[16px] text-center">
    <h4 class=" text-[24px] bold">{{ title }}</h4>
    <p class="text-[18px]">{{ text }}</p>
  </div>
  <div class="flex justify-center items-center space-x-[8px]">
    <em class="fa fa-x fa-download text-purple-900 pr-[8px]"></em>
    <a class="" href="" ><span class="text-[16px]">Download CV</span></a>
  </div>
</div>

