<div class="home-hero">
  <div class=" hero-box container mx-auto md:justify-center items-center space-y-[16px] md:space-x-[24px] md:flex md:mt-[100px] mt-[70px] ">

    <!--my headshot is here-->
    <img class="object-center mx-auto w-auto md:w-[304px]" src="{{ imageUrl }}" alt="photograph">

    <!--introducing myself-->
    <div class="space-y-[16px] md:space-y-[24px]">
      <div class="space-y-[8px] items-center pb-[24px]">
        <h3 class="bg-clip-text text-transparent bg-gradient-to-r from-[#BB80AC] to-[#581C87]">Hi there!</h3>
        <h4>I'm Amarachi,</h4>
        <h4>a UI/UX Designer & Front-end Developer</h4>
        <p>{{ text | summary:10 }}</p>
        <div class="flex font-medium space-x-[8px] pointer">
          <a href="/about">Read more
            <em class=" fa fa-caret-right"></em>
          </a>
        </div>
      </div>

      <span class="outline py-[16px] pl-[16px] pr-[8px] text-#c4c4c4 rounded-[8px] shadow-md bg-white">
        <input class="text-[16px] text-[#c4c4c4]" placeholder="Type your message" >
        <button class="text-white px-[16px] bg-purple-900 py-[8px] rounded-[8px]">Send!</button>
      </span>
    </div>

  </div>
</div>
