<section class="home-hero">
    <div >

      <div class=" hero-box container mx-auto md:justify-center items-center space-y-[16px] md:space-x-[24px] md:flex md:mt-[100px] mt-[70px] ">

        <!--my headshot is here-->
        <img class="object-center mx-auto w-auto md:w-[304px]" src="{{ imageUrl }}" alt="Amarachi">

        <!--introducing myself-->
        <div class="space-y-[16px] md:space-y-[24px]">
          <div class="space-y-[8px] items-center">
            <h6 class="bg-clip-text text-transparent bg-gradient-to-r from-[#BB80AC] to-[#581C87]">Hi there!</h6>
            <h5>I'm Amarachi,</h5>
            <h3>a UI/UX Designer & Front-end Developer</h3>
            <p>A multidisciplinary and talented Nigerian based in Lagos. </p>
            <div class="flex font-medium space-x-[8px]">
              <p class="-mt-[6px]">Read more</p>
              <em class=" fa fa-caret-right"></em>
            </div>
          </div>

          <div>
            <p class="flex flex-inline justify-between items-center px-[8px] py-[8px] mx-auto text-[16px] text-[#c4c4c4] border-[4px] rounded-[8px] shadow-md bg-white" >Type your message here
              <button class="text-white px-[16px] bg-purple-900 py-[8px] rounded-[8px] " type="button"
              >Send!</button>
            </p>
            <a ></a>
          </div>
        </div>

      </div>
    </div>
  </section>


