<!--footer is here-->
<footer class="footer w-full mx-auto bg-[#f5f5f5] mt-[70px]">
<!--<footer class="footer w-full bg-purple-50">-->

<!--  primary footer is here-->
  <div class=" space-y-[8px] flex flex-col md:flex-row p-[24px] space-x-[16px] md:items-center">

    <h3 class="text-[18px] font-bold">Find me here:</h3>

    <div class="grid grid-cols-3 md:grid-cols-5 gap-[16px] items-center">
      <div class="flex space-x-[8px] items-center">
        <em class="fa fa-linkedin-square"></em>
        <a class="flex hover:text-purple-900" href="
            https://www.linkedin.com/in/amarachi-ajah/">LinkedIn</a>
      </div>

      <div class="flex space-x-[8px] items-center">
        <em class="fa fa-twitter-square"></em>
        <a class="flex hover:text-purple-900" href="
            https://twitter.com/anitaamarachi">Twitter</a>
      </div>

      <div class="flex space-x-[8px] items-center">
        <em class="fa fa-github-square"></em>
        <a class="flex hover:text-purple-900" href="
            https://github.com/AnitaAO">Github</a>
      </div>

      <div class="flex space-x-[8px] items-center">
        <em class="fa fa-behance-square"></em>
        <a class="flex hover:text-purple-900" href="
            https://www.behance.net/amarachiajah">Behance</a>
      </div>

      <div class="flex space-x-[8px] items-center">
        <em class="fa fa-dribbble"></em>
        <a class="flex hover:text-purple-900" href="
            https://dribbble.com/AnitaAO">Dribbble</a>
      </div>
    </div>
  </div>
  <!--secondary footer is here-->
  <div class="w-full bg-black">
    <div>
      <h6 class="py-[8px] text-sm text-white text-center">Amarachi 2022 | All rights reserved</h6>
    </div>
  </div>
</footer>

