<div class="py-[40px] md:py-[80px]">
    <div class="space-y-[24px] md:space-y-[40px]">

        <div class="py-[16px] space-y-[16px] md:space-y-[24px] justify-center items-center">
            <div class="flex flex-row justify-between">
                <h3 class="md:text-[24px] font-bold">Portfolio</h3>
                <img class="h-[24px] w-[24px]" src="assets/images/portfolio.svg" alt="">
            </div>
            <div class="flex space-x-[8px] justify-center items-center font-bold"> 
                <h6 class=" border-2 rounded-2xl border-purple-900 py-1 px-4">All</h6>
                <h6 class=" border-2 rounded-2xl border-purple-900 py-1 px-4">UX/UI Design</h6>
                <h6 class=" border-2 rounded-2xl border-purple-900 py-1 px-4">Web Development</h6>  
            </div>
        </div>

        <div class="justify-center items-center">
            <div class="space-y-[40px] ">
                <div class="md:flex md:space-x-[40px] text-center">
                    <div class="block space-y-[8px]">
                        <img class="w-[304x] h-[204px] obejct-center mx-auto" src="assets/images/productdesign1.svg" alt="">
                        <div class="space-y-[8px]">
                            <h6>title</h6>
                            <p>Description</p>
                        </div>
                        <button type="button" class="bg-purple-900 text-white py-1 px-4">Click to see website</button>
                    </div>

                    <div class="block space-y-[8px]">
                        <img class="w-[304px] h-[204px] obejct-center mx-auto" src="assets/images/productdesign2.svg" alt="">
                        <div class="space-y-[8px]">
                            <h6>title</h6>
                            <p>Description</p>
                        </div>
                        <button type="button" class="bg-purple-900 text-white py-1 px-4">Click to see website</button>
                    </div>

                    <div class="block space-y-[8px]">
                        <img class="w-[304px] h-[204px] obejct-center mx-auto" src="assets/images/productdesign3.svg" alt="">
                        <div class="space-y-[8px]">
                            <h6>title</h6>
                            <p>Description</p>
                        </div>
                        <button type="button" class="bg-purple-900 text-white py-1 px-4">Click to see website</button>
                    </div> 
                </div>
                <div class="md:flex md:space-x-[40px] text-center">
                    <div class="block space-y-[8px]">
                        <img class="w-[304px] h-[204px] obejct-center mx-auto" src="assets/images/restaurantguide1.svg" alt="">
                        <div class="space-y-[8px]">
                            <h6>title</h6>
                            <p>Description</p>
                        </div>
                        <button type="button" class="bg-purple-900 text-white py-1 px-4">Click to see website</button>
                    </div>

                    <div class="block space-y-[8px]">
                        <img class="w-[304px] h-[204px] obejct-center mx-auto" src="assets/images/sabihelp1.svg" alt="">
                        <div class="space-y-[8px]">
                            <h6>title</h6>
                            <p>Description</p>
                        </div>
                        <button type="button" class="bg-purple-900 text-white py-1 px-4">Click to see website</button>
                    </div>
                    <div class="block space-y-[8px]">
                        <img class="w-[304px] h-[204px] obejct-center mx-auto" src="assets/images/sendit1.svg" alt="">
                        <div class="space-y-[8px]">
                            <h6>title</h6>
                            <p>Description</p>
                        </div>
                        <button type="button" class="bg-purple-900 text-white py-1 px-4">Click to see website</button>
                    </div> 
                </div>
            </div>
            <div class="hidden">repeat the 3 images of Product design</div>
            <div class="hidden">repeat the 3 images of web development</div>  
        </div>
    </div>
</div>

