<div class="it-works">

  <div class="col main">
    <h4 class="title">How it works</h4>
    <p>Become a member on the SellersHub platform by creating an account either using your social media account or
      email account. Proceed to create store and begin upload of store details, then await your dashboard where items
      can be uploaded and all inventory managed.</p>
  </div>
  <div class="how-it-cards">
    <div class="row bs">
      <div class="col-md-4" *ngFor="let card of howItList">
        <app-my-work></app-my-work>
      </div>
    </div>
    <img class="ring" src="../../assets/images/how-it-works/artefacts/ring-artifacts.svg" alt="">
    <img class="swirle" src="../../assets/images/how-it-works/artefacts/swirle-libe.svg" alt="">
    <img class="circle" src="../../assets/images/how-it-works/artefacts/circle-artifacts.svg" alt="">
    <img class="triangle" src="../../assets/images/how-it-works/artefacts/triangle.svg" alt="">
  </div>
</div>



<div class="bg-[#efecf1]">
    <div >
      <div class="container max-w-6xl mx-auto m-[24px] md:mb-[40px] py-[24px] md:py-[40px] space-y-[8px]">

        <h3 class="font-bold md:text-center px-[10px]">My Work</h3>

        <div class="relative grid grid-cols-1 md:grid-cols-2 md:justify-between items-center md:space-x-[16px] space-y-[16px]">
          <div class=" bg-white p-[10px] md:text-center">
            <h5 class=" font-bold">SabiHelp</h5>
            <img class="w-[304px] h-[304px] object-center mx-auto" src="assets/images/sabihelp1.svg" alt="">
            <p>Web App market place that connects household service providers in laundry,
              shopping and cleaning vendors and their employers.</p>
            <a class="bg-[#581C87] rounded-2xl text-white py-2"><button class="py-[16px] px-6"
                type="button">View case study</button></a>
          </div>

          <div class=" bg-white p-[10px] md:text-center">
            <h5 class="font-bold">SendIt</h5>
            <img class="w-[304px] h-[304px] object-center mx-auto" src="assets/images/sendit1.svg" alt="">
            <p>PWA that connect users with delivery service providers, preferred
              means of delivery and the opportunity to track their parcels real-time</p>
            <a class="bg-[#581C87] rounded-2xl text-white py-2"><button class="py-[16px] px-6"
                type="button">View case study</button></a>
          </div>

          <div class=" bg-white p-[10px] md:text-center">
            <h5 class="font-bold">Restaurant Guide</h5>
            <img class="w-[304px] h-[304px] object-center mx-auto" src="assets/images/restaurantguide1.svg" alt="">
            <p>Web App that guides users and travelers with reviews and ratings as well as
              the interior, exterior, food and services of different restaurants to enable
               users make quality choice.</p>
            <a class="bg-[#581C87] rounded-2xl text-white py-2"><button class="py-[16px] px-6"
              type="button">View case study</button></a>
          </div>
          <img class="absolute" src="" alt="">
          <img class="absolute" src="" alt="">
          <img class="absolute" src="" alt="">
          <img class="absolute" src="" alt="">
        </div>

      </div>
    </div>
  </div>
