.line-1a{
    height: 2px;
    width: 50px;
    background-color: #bbb;
    float: left;
    margin-left: -15px;
    margin-top: 16px; 
  }

  .line-1b{
    height: 2px;
    width: 27px;
    background-color: #bbb;
    float: left;
    margin-left: -4px;
    margin-top: 60px;

  }

  .line-2a{
    height: 2px;
    width: 64px;
    background-color: #bbb;
    float: left;
    margin-left: -22px;
    margin-top: 22px;
 
  }


//   .line-2b{
//     height: 2px;
//     width: 50px;
//     background-color: #bbb;
//     float: left;
//     margin-left: -28px;
//     margin-top: 90px;
 
//   }

.line-3a{
    height: 2px;
    width: 50px;
    background-color: #bbb;
    float: left;
    margin-left: -14px;
    margin-top: 17px;
 
  }

  .line-3b{
    height: 2px;
    width: 50px;
    background-color: #bbb;
    float: left;
    margin-left: -14px;
    margin-top: 70px;
 
  }