<div class="md:max-w-5xl md:mx-auto justify-items-center bg-[#fff] p-[16px] mt-[50px] md:mt-[70px]">

    <h1 class="text-[24px] md:text-center font-bold ]">{{hire.title}}</h1>

<!--    <div class="items-center space-y-[16px] md:p-[16px]  ">-->
    <div class="md:justify-between items-center pt-[16px] ">
      <div class="space-y-[8px] items-center">
        <div class="flex space-x-[8px]">
          <em class="fa fa-graduation-cap"></em>
<!--          <span class="divide-x-12 divide-light-theme-primary w-11/12"></span>-->
          <div class="text-[18px]">
            <h5 class=" font-bold">{{hire.visual.subtitle}}</h5>
            <p>{{hire.visual.description}}</p>
          </div>
        </div>

        <div class="flex space-x-[8px]">
          <em class="fa fa-graduation-cap"></em>
          <!--          <span class="divide-y h-[40px]"></span>-->
          <div class="text-[18px]">
            <h5 class=" font-bold">{{hire.mentorship.subtitle}}</h5>
            <p>{{hire.mentorship.description}}</p>
          </div>
        </div>

        <div class="flex space-x-[8px]">
          <em class="fa fa-graduation-cap"></em>
          <!--          <span class="divide-y h-[40px]"></span>-->
          <div class="text-[18px]">
            <h5 class=" font-bold">{{hire.collaboration.subtitle}}</h5>
            <p>{{hire.collaboration.description}}</p>
          </div>
        </div>
      </div>
    </div>
</div>


