<div class="px-[16px]">
  <div class="container max-w-6xl mx-auto m-[24px] md:mb-[40px] py-[24px] md:py-[40px] space-y-[8px]">

    <h3 class="font-bold md:text-center">{{hire.title}}</h3>

    <div class="items-center space-y-[16px] md:p-[16px]">
      <div>
        <div class="flex space-x-[8px] md:space-x-[16px]">
          <em class="fa fa-graduation-cap"></em>
          <h5 class="font-bold">{{hire.visual.subtitle}}</h5>
        </div>

        <div class="flex space-x-[8px] md:space-x-[16px] relative">
          <div>
            <span class="line-1a rotate-90 absolute"></span>
            <span class="line-1b rotate-90 absolute md:hidden"></span>
          </div>
          <p class="pl-[18px]">{{hire.visual.description}}</p>
        </div>
      </div>

      <div>
        <div class="flex space-x-[8px] md:space-x-[16px]">
          <em class="fa fa-graduation-cap"></em>
          <h5 class="font-bold">{{hire.mentorship.subtitle}}</h5>
        </div>

        <div class="flex space-x-[8px] md:space-x-[16px] relative">
          <span class="line-2a rotate-90 absolute"></span>
          <span class="line-2b rotate-90 absolute md:hidden"></span>
          <p class="pl-[18px]"> {{hire.mentorship.description }} </p>
        </div>
      </div>

      <div>
        <div class="flex space-x-[8px] md:space-x-[16px]">
          <em class="fa fa-graduation-cap"></em>
          <h5 class=" font-bold">{{hire.collaboration.subtitle}}</h5>
        </div>

        <div class="p-collabo flex space-x-[8px] md:space-x-[16px] relative">
          <div>
            <span class="line-3a rotate-90 absolute"></span>
            <span class="line-3b rotate-90 absolute md:hidden"></span>
          </div>
          <p class="pl-[18px]">{{hire.collaboration.description}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
