<div >
    <div class="px-[16px]">
      <div class="container max-w-6xl mx-auto m-[40px] md:mb-[80px] space-y-[8px] grid grid-cols-2 md:grid-cols-3 ">
        <div class="flex items-center space-x-[8px]">        
          <em class="fa fa-x fa-download text-purple-900"></em>
          <span class="text-[16px]">Download CV</span>
        </div>
        <div class="flex space-x-[8px]">
          <h1 class="text-[18px] font-bold text-purple-900">5+</h1>
          <p class="text-[16px]">Years of experience</p>
        </div>
  
        <div class="flex space-x-[8px]">
          <h1 class="text-[18px] font-bold text-purple-900">25+</h1>
          <p class="text-[16px]">Happy customers</p>
        </div>
  
      </div>
    </div>
  </div>
  
